In [11]:
#convert all names into uppercase
names=["harsh","hema","ganesh"]
for i in names:
    print(i.upper())

HARSH
HEMA
GANESH

In [9]:
# get size of tuple ,list and set
from sys import getsizeof
tuple_=(1,2,3,4)
print("Tuple: ",getsizeof(tuple_))
list_=[1,2,3,4]
print("List: ",getsizeof(list_))
size_of_set=set([1,2])
print("set:",getsizeof(size_of_set))

Tuple:  72
List:  88
set: 216

In [6]:
# create even no's only, (using range)
set_of_even =set(range(1,11))
#using set() function
empty_set=set()
for i in set_of_even:
    if i%2==0:
        empty_set.add(i)
print(empty_set)

{2, 4, 6, 8, 10}

In [16]:
# get size of set (set allows only immutable data types[such as tuple]
#list is also allowed but not nested list of elements ex:- set([1,2,3,[5,6],7])
#dict is also not allowed in set()
from sys import getsizeof
size_of_set=set([1,2,3,4,5,6,'a'])
print("set:",getsizeof(size_of_set))

set: 728

In [20]:
#convert set into tuple
set_items=set([1,2,3,4])
set_to_tuple=tuple(set_items)
print(set_to_tuple)

(1, 2, 3, 4)

In [21]:
#creating empty set
empty_set=set()
print(empty_set)

set()

In [13]:
#print length of characters
names=["harsh","hema","ganesh"]
for i in names:
    print(len(i))

5
4
6

In [3]:
#adding element at specified position
lst=["orange","mango"]
a=input("enter a element to add:")
b=int(input("enter the position of element:"))
lst.insert(b,a)
print(lst)

enter a element to add: grape
enter the position of element: 1

['orange', 'grape', 'mango']

In [9]:
# separating even and odd numbers from 1 to 100 using list in python
even=[]
odd=[]
list_num=list(range(1,101))
for num in list_num:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print("the even numbers are:",even,"\n")
print("the odd numbers are:",odd)

the even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

the odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [12]:
#converting string to int n add all elements
list_char_num=['12','23','67','56','12','90']
conv_to_int=[int(n) for n in list_char_num]
print(conv_to_int)
sum(conv_to_int)

[12, 23, 67, 56, 12, 90]

260

In [2]:
#create set from a list of elements
list_of_ele=[1,2,3,4]
set_=set(list_of_ele)
print(set_)

{1, 2, 3, 4}

In [5]:
#create an empty dictionary add some values to it
empty_dict={}
print(empty_dict)
add_value={"name":"harshitha","age":20,"address":"rajajinagar"}
print(add_value)

{}
{'name': 'harshitha', 'age': 20, 'address': 'rajajinagar'}

In [8]:
#take two lists of same size and make first list members as keys and second list members as values using zip()
first_list=[1,2,3,4]
sec_list=[1,2,3,4]
key_value=dict(zip(first_list, sec_list))
print(key_value)

{1: 1, 2: 2, 3: 3, 4: 4}

In [9]:
#take two lists of same size and make first list members as keys and second list members as values using dict()
first_list=[['a',2],['b',3]]
dict(first_list)

{'a': 2, 'b': 3}

In [11]:
#take one lists of duplicate numbers and make dictionary which key is list element 
#and value is number of occurrences of that element in that list( using count() method )
list_with_dupli=[1,2,3,1,4,3,4,2,]
#create empty list with duplicates
dictt_={}
#create empty dict
for i in list_with_dupli:
    dictt_[i]=list_with_dupli.count(i)
#using count method to know no of occurances

In [3]:
#take one lists of duplicate numbers and make dictionary which key is list element 
#and value is number of occurrences of that element in that list( using count() method )
list_with_dupli=[1,2,3,1,4,3,4,2,]
#create empty list with duplicates
dictt_={}
#create empty dict
for i in list_with_dupli:
    dictt_[i]=list_with_dupli.count(i)
print(dictt_)
#using count method to know no of occurances

{1: 2, 2: 2, 3: 2, 4: 2}